body {
  margin: 0px;
  padding: 0px;
}

#cy {
  width: 90vw;
  height: 80vh;
  display: block;
}

.rajaus {
  border-style: dashed;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 5vw;
  margin-left: 4vw;
}

h1, button {
  margin-left: 2vw;
}
